<h2>Edit tweet</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_tweet_path(@conn, :update, username(@conn), @tweet) %>

<%= link "Back", to: user_tweet_path(@conn, :index, username(@conn)) %>
